page-org-invite-request {
  .centerRow {
    align-items: center;
  }
  .civicBtn {
    font-size: 15px;
    padding: 20px;
  }
  .inputStyle {
    border-style: solid;
    border-width: 1px;
    border-color: black;
  }
  .smallMarginTop {
    margin-top: 5px;
  }
}
