<ion-header>
  <app-user-nav-menu></app-user-nav-menu>
</ion-header>


<ion-content padding>
  <ion-grid (swiperight)="swipeRightEvent()">
    <ion-row>
      <ion-col>
        <h1 class="titleStyle">Interests</h1>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-4>
        <div *ngFor="let tags of firstColArr"><ion-badge [ngClass]="{'clickedClass': isActive(tags) }" (click)="selectTag(tags)" class="tagStyle">#{{tags}}</ion-badge></div>
      </ion-col>
      <ion-col col-4>
        <div *ngFor="let tags of secondColArr"><ion-badge [ngClass]="{'clickedClass': isActive(tags) }" (click)="selectTag(tags)" class="tagStyle">#{{tags}}</ion-badge></div>
      </ion-col>
      <ion-col col-4>
        <div *ngFor="let tags of thirdColArr"><ion-badge [ngClass]="{'clickedClass': isActive(tags) }" (click)="selectTag(tags)" class="tagStyle">#{{tags}}</ion-badge></div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <div class="instructHead">
          <h6 text-center>Click Tags Above to Add Your Interests</h6>
          <h6 text-center>Or</h6>
        </div>
        <ion-searchbar placeholder="Search for other interests" [(ngModel)]="myInput" color="danger" showCancelButton (ionInput)="onInput($event)" (ionClear)="onCancel()" (ionCancel)="onCancel()" (ionBlur)="onBlur()" (ionFocus)="setSearchItems()"></ion-searchbar>
        <ion-list>
          <button type="button" ion-item *ngFor="let item of searchArr" (click)="addSearchTag(item)" >
            #{{ item }}
          </button>
        </ion-list>
        <div class="skipDiv" text-center *ngIf="selectedInterestArr.length > 0">
          <div class="card">
            <h6>You've Added:</h6>
            <div *ngFor="let tags of selectedInterestArr; let i = index"><ion-badge [ngClass]="{'badgeMargin': checkIndex(i) }" color="neon" (click)="selectTag(tags)" class="selectedTag">#{{tags}}</ion-badge></div>
          </div>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col text-center>
          <button *ngIf="selectedInterestArr.length == 0" (click)="skipTags()" class="skipBtn" color="light" ion-button icon-right>Skip<ion-icon name="arrow-forward"></ion-icon></button>
          <button *ngIf="selectedInterestArr.length > 0" (click)="swipeRightEvent()" color="success" ion-button icon-right>Next<ion-icon name="arrow-forward"></ion-icon></button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
