page-user-register-interests {
  .titleStyle {
    margin-top: 10px;
  }
  .tagStyle {
    margin-right: 10px;
    margin-top: 10px;
    padding: 10px;
  }
  .skipDiv {
    margin-top: 20px;
  }
  .skipBtn {

  }
  .clickedClass {
    background: rgb(255,77,0);
  }
  .badgeMargin {
    margin-top: 7px;
  }
  .iconStyle {
    font-size: 25px;
  }
  .swipeHeader {
    margin-top: 10px;
  }
  .swipeColor {
    color: #ae0202;
  }
  .instructHead {
    margin-top: 10px;
  }

}
