<ion-header>

  <app-user-nav-menu></app-user-nav-menu>

</ion-header>
<
<ion-content padding>
  <ion-searchbar
  placeholder="Search Events"
  [(ngModel)]="myInput"
  color="danger"
  showCancelButton
  (ionInput)="onInput($event)"
  (ionClear)="onCancel()"
  (ionCancel)="onCancel()"
  (ionBlur)="onBlur()"
  (ionFocus)="setSearchItems()"></ion-searchbar>

  <ion-card *ngIf="showSuggEvents">

    <button (click)="showSuggEvents = false" ion-item>Suggested Events <ion-icon name="remove-circle" item-end></ion-icon></button>
    <hr/>

    <ion-card *ngFor="let events of suggestedEventsArr" (click)="selectEvent(events)">
      <ion-row>
        <ion-col col-8 padding>
          <h2><strong><u>{{events.DisplayTitle}}</u></strong></h2>
        </ion-col>
        <ion-col col-4 padding>
          <h3 text-right><span class="dateStyle">{{events.StartTime | date:"shortDate"}}</span></h3>
          <h3 text-right><span class="dateStyle">{{events.StartTime | date:"shortTime"}}</span></h3>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-6>
          <ion-card-content>
            <div text-center><strong>{{events.AddressDisplayName}}</strong></div>
          </ion-card-content>
        </ion-col>
        <ion-col col-6>
          <ion-card-content text-center>
              <p>{{events.CategoryName | uppercase}}</p>
          </ion-card-content>
        </ion-col>
      </ion-row>
    </ion-card>

  </ion-card>

  <ion-card *ngIf="!showSuggEvents" (click)="showSuggEvents = true">
    <button ion-item>Suggested Events <ion-icon name="add-circle" item-end></ion-icon></button>
  </ion-card>

  <ion-card *ngIf="showMyEvents">

    <button (click)="showMyEvents = false" ion-item>My Events <ion-icon name="remove-circle" item-end></ion-icon></button>
    <hr/>
    <div *ngIf="myEventsArr.length > 0">
      <ion-card *ngFor="let events of myEventsArr" (click)="selectEvent(events)">
        <ion-row>
          <ion-col col-8 padding>
            <h2><strong><u>{{events.DisplayTitle}}</u></strong></h2>
          </ion-col>
          <ion-col col-4 padding>
            <h3 text-right><span class="dateStyle">{{events.StartTime | date:"shortDate"}}</span></h3>
            <h3 text-right><span class="dateStyle">{{events.StartTime | date:"shortTime"}}</span></h3>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-6>
            <ion-card-content>
              <div text-center><strong>{{events.AddressDisplayName}}</strong></div>
            </ion-card-content>
          </ion-col>
          <ion-col col-6>
            <ion-card-content text-center>
                {{events.CategoryName | uppercase}}
            </ion-card-content>
          </ion-col>
        </ion-row>
      </ion-card>
    </div>
    <div *ngIf="myEventsArr.length == 0">
        <h2 text-center>You currently don't have any events</h2>
    </div>
  </ion-card>

  <ion-card *ngIf="!showMyEvents" (click)="showMyEvents = true">
    <button ion-item>My Events <ion-icon name="add-circle" item-end></ion-icon></button>
  </ion-card>

  <ion-card *ngIf="showAllEvents">

    <button (click)="showAllEvents = false" ion-item>All Events<ion-icon name="remove-circle" item-end></ion-icon></button>
    <hr/>

    <ion-card *ngFor="let events of allEventsArr" (click)="selectEvent(events)">
      <ion-row>
        <ion-col col-8 padding>
          <h2><strong><u>{{events.DisplayTitle}}</u></strong></h2>
        </ion-col>
        <ion-col col-4 padding>
          <h3 text-right><span class="dateStyle">{{events.StartTime | date:"shortDate"}}</span></h3>
          <h3 text-right><span class="dateStyle">{{events.StartTime | date:"shortTime"}}</span></h3>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-6>
          <ion-card-content>
            <div text-center><strong>{{events.AddressDisplayName}}</strong></div>
          </ion-card-content>
        </ion-col>
        <ion-col col-6>
          <ion-card-content text-center>
              {{events.CategoryName | uppercase}}
          </ion-card-content>
        </ion-col>
      </ion-row>
    </ion-card>

  </ion-card>

  <ion-card *ngIf="!showAllEvents" (click)="showAllEvents = true">
    <button ion-item>All Events<ion-icon name="add-circle" item-end></ion-icon></button>
  </ion-card>

</ion-content>
