page-events-selected {
  .headerRowStyle {
    border-bottom-color: silver;
    border-bottom-style: solid;
    border-bottom-width: 8px;
  }
  .tagStyle {
    margin-right: 5px;
    margin-top: 10px;
    padding: 5px;
  }
  .rsvpBtnStyle {
    margin-top: 7px;
  }
  .submitBtn {
    font-size: 15px;
    margin-top: 10px;
  }
}
