page-user-register-type {
  .centerRow {
    align-items: center;
  }
  .civicBtn {
    font-size: 25px;
    padding: 25px;
  }
  .firstBtn {
    margin-top: 45px;
  }
  .otherBtn {
    margin-top: 25px;
  }
  .btnStyle {
    padding: 30px;
    font-size: 20px;
  }

}
