page-user-register-about {
  .inputStyle {
    border-style: solid;
    border-width: 1px;
    border-color: black;
  }
  .error {
    color: red;
  }
  .iconStyle {
    font-size: 25px;
  }
  .swipeDiv {
    margin-top: 50px;
    color: green;
  }
}
