page-user-register-district {
  .inputStyle {
    border-style: solid;
    border-width: 1px;
    border-color: black;
    padding: 2px;
  }
  .error {
    color: red;
  }
  .iconStyle {
    font-size: 25px;
  }
  .swipeDiv {
    margin-top: 250px;
    color: green;
  }
}
